@use 'tools/mixins/mq' as *;

@mixin footer-link {
  a:link,
  a:visited {
    color: var(--color-lightgray-10);
    position: relative;
    text-decoration: none;
  }

  a:hover {
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      height: 20px;

      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: var(--color-lightgray-10);
      animation: hover 0.2s ease-in-out;
      animation-fill-mode: forwards;
    }
  }
}

@mixin footer-list {
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    > li {
      padding: 0 0 1.2rem 0;

      > span {
        color: var(--color-lightgray-10);
      }
    }
  }
}

@keyframes hover {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.footer {
  @include footer-link;
  @include footer-list;

  align-items: flex-start;
  background: var(--color-darkgray-100);
  display: flex;
  margin-top: 300px;

  padding-top: 32px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;

  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 48px;
  }

  @include mq(vpm) {
    padding-top: 64px;
    padding-bottom: 48px;

    .grid {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 24px;
    }
  }

  @include mq(vpl) {
    padding-top: 64px;
    padding-bottom: 48px;

    .grid {
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 24px;
    }
  }
}
