@use 'sass:map';
@use 'sass:math';

@use 'settings/container';
@use 'settings/breakpoints';
@use 'tools/functions/helpers';
@use 'tools/mixins/mq' as *;

// breakpoints map
$breakpoints: breakpoints.$breakpoints;

// stages map (vps, vpm,...)
$stages: map.keys($breakpoints);

// spacings map
$containers: map.keys(container.$container);

@mixin container() {
  @each $container in $containers {
    @each $stage in $stages {
      @include mq($stage) {
        $responsive-sizes: map.get(container.$container, $container);
        $size: map.get($responsive-sizes, $stage);

        .#{$container} {
          width: #{$size};
          margin: 0 auto;
        }
      }
    }
  }
}
