@font-face {
  font-family: 'IBMPlexSansRegular';
  src: url('/public/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'IBMPlexSansLight';
  src: url('/public/fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf')
    format('truetype');
}
