@forward '.stylite/typography.yaml';

@use 'sass:map';
@use '.stylite/typography.yaml' as *;

$font-size-root: #{map.get($typography, 'root')};
$font-size-base: #{map.get($typography, 'base')};

$typeSizes: map.get($typography, 'typeSizes');
$typeFaces: map.get($typography, 'typeFaces');
